/* Colors */
$white: #ffffff;
$black: #212529;
$grey: #3a3a3a;
$grey-light: #ced4da;
$red: #dc3545;
$red-darker: #c82333;
$red-darkest: #bd2130;
$yellow: #ffc107;
$yellow-darker: #e0a800;
$yellow-darkest: #d39e00;
$green: #28a745;
$green-darker: #218838;
$green-darkest: #1e7e34;
$blue: #007bff;
$blue-darker: #0062cc;
$blue-darkest: #005cbf;