/* Colors */
$color-map-key: 'base' !default;

$color-map: (
    'white': (
        'base': #fff
    ),
    'black': (
        'base': #212529
    ),
    'grey': (
        'base': #3a3a3a,
        'light': #ced4da
    ),
    'red': (
        'base': #dc3545,
        'dark': #bd2130,
        'darker': #c82333
    ),
    'yellow': (
        'base': #ffc107,
        'dark': #d39e00,
        'darker': #e0a800
    ),
    'green': (
        'base': #28a745,
        'dark': #1e7e34,
        'darker': #218838
        
    ),
    'blue': (
        'base': #007bff,
        'dark': #005cbf,
        'darker': #0062cc
    )
);

@function color-map(
    $name: 'white',
    $variant: $color-map-key,
) {
    $color: null;
    // Get the color spectrum
    $color-spectrum: map-get($color-map, $name);
    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }
    @return $color;
}