
/* Inputs */
%submit-button-basic {
    color: color-map('white', 'base');
    cursor: pointer;
    font: $font-bold;
    padding: 2px 5px 0;
    text-align: center;
    background-color: color-map('blue', 'base');
    @include border(1px solid color-map('blue', 'base'), .25rem);
}
select,
textarea,
input[type="text"],
input[type="date"],
input[type="time"] {
    min-height: 22px;
    padding: 0 0 0 4px;
    width: calc(100% - 108px);
    background-color: color-map('white', 'base');
    @include border(1px solid color-map('grey', 'light'), .25rem);
}
input[type="submit"],
.todo-list-item-buttons label {
    @extend %submit-button-basic;
    &:hover, &:focus, &:active {
        border-color: color-map('blue', 'dark');
        background-color: color-map('blue', 'darker');
    }
}
button {
    @extend %submit-button-basic;
    &.delete {
        border-color: color-map('red', 'base');
        background-color: color-map('red', 'base');
        &:hover, &:focus, &:active {
            border-color: color-map('red', 'dark');
            background-color: color-map('red', 'darker');
        }
    }
    &.edit {
        color: color-map('black', 'base');
        border-color: color-map('yellow', 'base');
        background-color: color-map('yellow', 'base');
        &:hover, &:focus, &:active {
            border-color: color-map('yellow', 'dark');
            background-color: color-map('yellow', 'darker');
        }
    }
    &.finished {
        margin: 0;
        border-color: color-map('green', 'base');
        background-color: color-map('green', 'base');
        &:hover, &:focus, &:active {
            border-color: color-map('green', 'dark');
            background-color: color-map('green', 'darker');
        }
    }
}
input[type="radio"] {
    top: 2px;
    position: relative;
}
input[type="checkbox"] {
    top: 3px;
    position: relative;
}
input[type="submit"] {
    margin: 5px;
}
select,
textarea {
    padding: 0;
    max-width: calc(100% - 108px);
}